#root,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://images.unsplash.com/photo-1561414927-6d86591d0c4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1973&q=80');
  background-size: cover;
}

.app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 10px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.card {
  height: 200px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 6px 6px rgb(16 27 30 / 40%);
  border-radius: 3px;
  color: #333;
  margin: auto 0;
}

.text-center {
  text-align: center;
}
